<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <!-- Console output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%level] %d{HH:mm:ss} [%t] %c{1} - %msg%n" />
        </Console>

        <!-- Rolling file logs -->
        <RollingFile name="FileLogger"
                     fileName="logs/automation.log"
                     filePattern="logs/automation-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%level] %d{yyyy-MM-dd HH:mm:ss} [%t] %c{1} - %msg%n" />

            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>